<%- include('elements/head') %>

<div class='page-title'>
    <h2>Dashboard</h2>
</div>

<div class="row">
    <div class="col-6 col-md-4">
        <div class="card card-body kpi mb-3">
            <div class="content">
                <h5>Sections</h5>
                <h2 class="count fw-bold">
                    1
                </h2>
            </div>
            <i class="ms-auto bi bi-file-earmark-richtext"></i>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card card-body kpi mb-3">
            <div class="content">
                <h5>Messages</h5>
                <h2 class="count fw-bold">
                    2
                </h2>
            </div>
            <i class="ms-auto bi bi-chat-right-text"></i>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card card-body kpi mb-3">
            <div class="content">
                <h5>Maintenence</h5>
                <h3 class="count fw-bold">
                    Off
                </h3>
            </div>
            <i class="ms-auto bi bi-tools"></i>
        </div>
    </div>
</div>

<%- include('elements/footer') %>