<%- include('elements/head') %>

<div class='page-title'>
    <h1>Preferences</h1>
    <p>Define the configuration and options.</p>
</div>

<div class="row">
    <div class="col-6 col-md-4">
        <div class="card card-body kpi mb-3">
            <div class="content">
                <h5>Pages/Sections</h5>
                <h1 class="count fw-bold">
                    1
                </h1>
            </div>
            <i class="ms-auto bi bi-file-earmark-richtext"></i>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card card-body kpi mb-3">
            <div class="content">
                <h5>Company Info</h5>
                <h3 class="count fw-bold">
                    Ok
                </h3>
            </div>
            <i class="ms-auto bi bi-building"></i>
        </div>
    </div>
    <div class="col-6 col-md-4">
        <div class="card card-body kpi mb-3">
            <div class="content">
                <h5>Maintenence</h5>
                <h3 class="count fw-bold">
                    Off
                </h3>
            </div>
            <i class="ms-auto bi bi-tools"></i>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        All Accounts
        <a href='#' class='btn btn-default btn-sm' >
            <i class="bi bi-printer me-1"></i> Print
        </a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        </div>
    </div>
</div>

<%- include('elements/footer') %>