<div class='ui-sidebar'>
    <a class='brand'>
        <h1 class="fw-bold text-white">
            <i class="bi bi-display fs-1 text-white"></i>
            <span>ADMIN</span>
        </h1>
    </a>
    <div class="menu">
        <ul class="list-unstyled">
            <li>
                <a href="/admin/preferences" class='active'>Preferences</a>
            </li>
            <li>
                <a href="/admin/header" >Header</a>
            </li>
            <li>
                <a href='#menu-payments-transfers' class="dropdown-toggle collapsed" data-bs-toggle="collapse" aria-expanded="false" >Sections</a>
                <ul id='menu-payments-transfers' class="collapse list-unstyled">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </li>
            <li>
                <a href="#menu-profile_documents" class="dropdown-toggle collapsed" data-bs-toggle="collapse" aria-expanded="false" >Contact</a>
                <ul id='menu-profile_documents' class="collapse list-unstyled">
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="menu bottom-menu">
        <ul class="list-unstyled">
            <li>
                <a href="/" target='_blank' >
                    <i class='bi bi-globe'></i>
                    Go to Landing Page
                </a>
            </li>
        </ul>
    </div>
    
</div>