<div class='ui-sidebar'>
    <a class='brand'>
        <h1 class="fw-bold text-white">
            <i class="bi bi-display fs-1 text-white"></i>
            <span>ADMIN</span>
        </h1>
    </a>
    <div class="menu">
        <ul class="list-unstyled">
            <li>
                <a href="/admin/dashboard" class='active'>Dashboard</a>
            </li>
            <li>
                <a href="#menu-preferences" class="dropdown-toggle collapsed" data-bs-toggle="collapse" aria-expanded="false" >Preferences</a>
                <ul id='menu-preferences' class="collapse list-unstyled">
                    <li><a href="/admin/informations">Site Info</a></li>
                    <li><a href="/admin/customization">Customization</a></li>
                    <li><a href="/admin/maintenence">Maintenence</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/header" >Header</a>
            </li>
            <li>
                <a href='#menu-sections' class="dropdown-toggle collapsed" data-bs-toggle="collapse" aria-expanded="false" >Sections</a>
                <ul id='menu-sections' class="collapse list-unstyled">
                    <li><a href="/admin/section-banners">Banners</a></li>
                    <li><a href="/admin/section-about">About</a></li>
                    <li><a href="/admin/section-products">Products</a></li>
                    <li><a href="/admin/section-services">Services</a></li>
                    <li><a href="/admin/section-faq">FAQ</a></li>
                    <li><a href="/admin/section-contact">Contact</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/messages" >Messages</a>
            </li>
        </ul>
    </div>

    <div class="menu bottom-menu">
        <ul class="list-unstyled">
            <li>
                <a href="/" target='_blank' >
                    <i class='bi bi-globe'></i>
                    Go to Landing Page
                </a>
            </li>
        </ul>
    </div>
    
</div>